.mydp .selectedday div {
    color: #ffffff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 5px;
}

.mydp .currday div {
    border: 1px solid #004198;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;
}


.mydp .weekdaytitle {
    background-color: #394857;
    color: #ffffff;
}
.mydp .currmonth {
    background-color: #ffffff;
}

.mydp .selector, .mydp .header, .mydp .caltable tbody {
    border: none;
}

.mydp .selector, .mydp .header {
    background-color: transparent;
}

.mydp .headermonthtxt span, .mydp .headeryeartxt span, .mydp .headertodaybtn {
    font-weight: bold;
}


.mydp,
.mydp .selectiongroup,
.mydp .selection,
.mydp .selector {
    border-radius: 4px;
}

.mydp .btnpicker {
    border-radius: 0 4px 4px 0;
}
*/